@charset "utf-8";
/* CSS Document */
h3 { font-size:50px;
	font-variant:small-caps;
	color:444444;
	margin:0px;}
	
.content {
	padding-top:10px;
	min-height:90%;
}
.leftContent, .rightContent {
	min-height:100%;
	
}

.leftContent {
	padding:10px;
	box-sizing:border-box;
	float:left;
	width:70%;
	margin-left:3px;
}
.leftContent img {
	padding:10px;
	margin:auto;
	display:block;
}

.rightContent {
	padding:10px;
	height:500px;
	float:right;
	width:29%;
	background-color:#dadada;
	margin-right:3px;
	box-sizing:border-box;
}
