@charset "utf-8";
/* CSS Document */

.contentRight, .contentLeft {

	
	padding:5px 0 5px 0;
}
.content {
	min-height:100%;
}

.contentRight {
	width:80%;
	float:right;
	height:100%;
	padding-left:2px;
	box-sizing:border-box;
}
.contentLeft {
	float:left;
	width:20%;
	padding:0;
}
.contentLeftContainer {
	height:500px;
	width:100%;
	background-color: #dadada;
	padding:15px;

	box-sizing:border-box;
	margin-left:3px;
	margin-top:5px;
}
