@charset "utf-8";
/* CSS Document */
.message {
	margin:0 auto;
	background-color:#FF8080;
	font-size:20px;
	color:#000;
	padding:10px;
	text-align:center;
}
.content {
padding:50px 5px 50px 5px !important;;}
h3 {
	font-variant:small-caps;
	color:#0a7ed1;
	padding-top:10px;
	font-size:22px;
	padding:0px;
	margin:0 0 5px 0;
}
hr {
	width:90%;
}
.mainMsg {
 	background: #dadada;
	width:100%;
	height:600px;
}
.mainMsgContainer {
	width:80%;
	max-width: 1260px;
	min-width:780px;
	margin: 0 auto;
	height:100%;
}
.mainMsgLeft, .mainMsgRight {float:right;}
.mainMsgLeft {
	height:auto;width:30%;font-size:36px;font-variant:small-caps;text-align: center;font-family: Gill Sans MT, Arial, Helvetica, sans-serif;position:relative;top:50%;  transform:translateY(-50%);}
.mainMsgRight {
	height:100%;
	min-width:480px;
	width:70%;
	max-width:1960px;
	overflow:hidden;
	margin:0 -3px 0 0;
}
.mainMsgRight:hover {overflow-y:scroll;}